@import "reset.css";

modal {
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
}
.modal_bg {
  z-index: 98;
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: #333;
  transition: 0.2s;
}
.modal_box {
  opacity: 0;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  width: auto;
  height: auto;
  border-radius: 0.7rem;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.5rem 0 #555;
  text-align: center;
  padding: 3%;
}
.modal_text {
  font-size: 3rem;
  font-weight: bold;
  color: #f00;
}

.modal_box > button {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15%;
  color: #c00;
  border-radius: 0.4rem;
  padding: 1% 3%;
  background-color: #fff;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #333;
}

.modal_box > button:hover {
  background: #333;
  color: #fff;
}
