@import "reset.css";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.dark-mode {
  color: white;
  background-color: rgb(17, 20, 25);
  box-sizing: border-box;
  box-shadow: none !important;
}
.dark-mode-buttons {
  /* background-color: #ddd; */
  color: white;
  background-color: rgb(17, 20, 25);
  border: 0.5px solid white;
}
button.dark-mode-buttons {
  /* background-color: #ddd; */
  color: white;
  background-color: rgb(17, 20, 25);
  border: 0.5px solid white;
}
button.dark-mode-buttons:hover {
  /* background-color: #ddd; */
  color: black;
}

body,
p,
h3 {
  font-family: "Pretendard-Regular";
  margin: 0;
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  grid-area: header;
  position: sticky;
  top: 0px;
  padding: 6px 20px;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 0.5px solid black;
  z-index: 3;
}
header.dark-mode {
  border-bottom: 0.5px solid white;
}
img {
  width: 100%;
  border-top-right-radius: 6.5px;
  border-top-left-radius: 6.5px;
}
a {
  text-decoration: none;
  color: black;
}
form label {
  font-size: 0;
}
input {
  text-decoration-line: underline;
  border: 0.5px solid black;
  border-radius: 6px;
  font-size: 1.2rem;
  width: 300px;
  padding: 6px 6px;
}
input:focus {
  outline: 0 none;
}
main {
  grid-area: content;
  position: relative;
}
fieldset {
  position: absolute;
  box-sizing: border-box;
  border: 0.5px solid black;
  background-color: white;
  padding: 40px 0 0;
  border-radius: 24px;
  top: 0;
  left: -2px;
  width: 187px;
}
footer {
  text-align: center;
  grid-area: footer;
  border-top: 0.5px solid black;
  padding: 16px 0;
  box-sizing: border-box;
}
footer.dark-mode {
  background-color: rgb(17, 20, 25);
  border-top: 0.5px solid white;
}
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 120px;
  margin: 6px 12px;
  margin-right: auto;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 12px;
}
.nav-search {
  position: relative;
}
.button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}
.button-darkmode {
  width: 32px;
  padding: 4px;
  margin-top: 2px;
  margin-right: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}
.button:hover {
  /* background-color: #ddd; */
  background-color: #f6fb64;
}
.button-search {
  font-size: 1rem;
  position: absolute;
  width: 32px;
  top: 6px;
  right: 10px;
  background: rgba(255, 255, 255, 0.6);
}
.main-wrapper {
  display: grid;
  /* grid-gap: 20px; */
  grid-template-columns: 0.1fr 10fr 0.1fr;
  grid-template-areas:
    "leftbar header rightbar"
    "leftbar content rightbar"
    "leftbar footer rightbar";
}
.sidebar {
  position: sticky;
  align-self: start;
  top: 0px;
  padding: 4px 12px 0;
  height: 100vh;
  font-size: 3.8rem;
  font-family: "Times New Roman", Times, serif;
  /* color: white; */
}
#sidebar-right {
  grid-area: rightbar;
  line-height: 3.8rem;
  padding-left: 10px;
  border-left: 0.5px solid black;
}
#sidebar-right.dark-mode {
  border-left: 0.5px solid white;
}
#sidebar-left {
  grid-area: leftbar;
  line-height: 4.5rem;
  padding-right: 10px;
  border-right: 0.5px solid black;
}
#sidebar-left.dark-mode {
  border-right: 0.5px solid white;
}
.button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 24px 32px;
}
.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 6px;
}
.genre-item {
  display: inline-block;
  margin-bottom: 6px;
}
.checkbox {
  display: none;
}
.checkbox + label {
  border-radius: 12px;
  border: 0.5px solid #000;
  padding: 4px;
  cursor: pointer;
}
.checkbox + label.dark-mode-buttons {
  border: 0.5px solid white;
}
.checkbox:checked + label {
  background-color: #f6fb64;
}
.checkbox:checked + label.dark-mode-buttons {
  color: black;
}
.button-filter {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: 0.5px solid black;
  border-radius: 24px;
}
.button-reset {
  display: block;
  font-size: 1.2rem;
  border: 0.5px solid black;
  border-radius: 24px;
  padding: 12px 24px;
}
.button-reset:hover {
  background-color: #f6fb64;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 60px 20px;
  padding: 0px 24px;
  margin-bottom: 24px;
  margin-top: 12px;
}
.movie-card {
  border: 0.5px solid black;
  border-radius: 7px;
  margin: 0 8px;
  box-sizing: border-box;
  /* box-shadow: 0px 8px 8px #eee; */
  justify-self: center;
  cursor: pointer;
}
article.dark-mode {
  box-shadow: none !important;
  border: 0.5px solid white;
  background-color: black;
}
.movie-card-content {
  /* padding: 12px 16px; */
}
article p.dark-mode {
  background-color: black;
}

.button-more-item {
  display: block;
  margin: 0 auto 36px;
  font-size: 1.3rem;
  /* background-color: #eee; */
  padding: 12px 24px;
  border: 0.5px solid black;
  border-radius: 24px;
}
article {
  height: fit-content;
}
article h3 {
  margin-bottom: 12px;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
  padding: 12px 16px;
  box-sizing: border-box;
}
article p.movie-overview {
  padding: 0 16px;
  line-height: 1.4rem;
  box-sizing: border-box;
  word-break: normal;
}
article > div {
  margin-top: -6px;
}
article p.movie-rating {
  width: fit-content;
  /* position: absolute; */
  /* text-align: right; */
  /* text-align: end; */

  padding: 24px 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 12px;
  border: 0.5px solid black;
  background-color: lawngreen;
  border-radius: 100%;
  transform: rotate(15deg);
}
.movie-rating span {
  font-size: 0.8rem;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.cheer {
  margin-bottom: 16px;
}
.copyright {
  font-size: 0.8rem;
}
@media (max-width: 1440px) {
  body {
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .sidebar {
    position: sticky;
    align-self: start;
    top: 0px;
    padding: 4px 12px 0;
    height: 100vh;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    /* color: white; */
  }
  #sidebar-right {
    grid-area: rightbar;
    line-height: 3.1rem;
    padding-left: 10px;
    border-left: 0.5px solid black;
  }
  #sidebar-right.dark-mode {
    border-left: 0.5px solid white;
  }
  #sidebar-left {
    grid-area: leftbar;
    line-height: 3.6rem;
    padding-right: 10px;
    border-right: 0.5px solid black;
  }
  #sidebar-left.dark-mode {
    border-right: 0.5px solid white;
  }
}

@media (max-width: 1279px) {
  body {
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sidebar {
    font-size: 2.5rem;
  }
  #sidebar-right {
    line-height: 2.6rem;
  }
  #sidebar-left {
    line-height: 3rem;
  }
}
/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media (max-width: 1023px) {
  body {
  }
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
    padding: 0px 24px;
    margin-bottom: 24px;
    margin-top: 12px;
  }

  .sidebar {
    font-size: 2rem;
  }
  #sidebar-right {
    line-height: 1.95rem;
  }
  #sidebar-left {
    line-height: 2.3rem;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media (max-width: 767px) {
  body {
  }
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
    padding: 0px 24px;
    margin-bottom: 24px;
    margin-top: 12px;
  }

  .sidebar {
    font-size: 1.5rem;
  }
  #sidebar-right {
    line-height: 1.54rem;
  }
  #sidebar-left {
    line-height: 1.78rem;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media (max-width: 479px) {
  header {
    width: 100%;
    grid-area: header;
    top: 0px;
    padding: 6px 20px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 0.5px solid black;
    z-index: 2;
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button-container {
    width: fit-content;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
  }
  .button-filter {
    text-align: center;
    margin-right: initial;
  }
  .button-reset {
    position: fixed;
    z-index: 2;
    bottom: 100px;
    right: 20px;
    background-color: white;
  }
  .nav-container {
    flex-direction: column;
  }
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 10px;
    padding: 0px 24px;
    margin-bottom: 24px;
    margin-top: 12px;
  }

  .sidebar {
    display: none;
    padding: 4px 12px 0;
    height: 100vh;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    /* color: white; */
  }
  .sidebar {
  }
  #sidebar-right {
    bottom: 0;
    left: 0;
    height: auto;
    line-height: 1.54rem;
  }
  #sidebar-left {
    height: auto;
    top: 0;
    left: 0;
    line-height: 3.5rem;
  }
  footer {
    width: 100%;
  }
}
