#root-container {
  max-width: 1200px;
  margin: auto;
  border: 1px solid red;
}

#topRate-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.topRate-card {
  width: 200px;
  border: 1px solid red;
  margin-bottom: 20px;
}

.poster-image {
  width: 100%;
}

#onAir-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.onAir-card {
  width: 200px;
  border: 1px solid red;
  margin-bottom: 20px;
}

.poster-image {
  width: 100%;
}
